{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Olá, Stranger!
{% endblock %}

{% block page_content %}

<!-- Cabeçalho -->
<div class="page-header">

    <h1>
        Olá, Stranger!
    </h1>

</div>

<!-- Formulário -->
<div class="row">

    <div class="col-md-6">

        {{ wtf.quick_form(form) }}

    </div>

</div>


<br>

<!-- Relação de usuários -->
<div class="row">

    <div class="col-md-12">

        <h2>
            Relação de usuários cadastrados
        </h2>


        <!-- Contador de usuários -->
        <p>
            Quantidade: {{ user_count }}
        </p>


        <table class="table">

            <thead>

                <tr>

                    <th>
                        Nome do usuário
                    </th>

                    <th>
                        Função
                    </th>

                </tr>

            </thead>


            <tbody>

                {% for user in users %}

                <tr>

                    <!-- Nome -->

                    <td>
                        {{ user.username }}
                    </td>


                    <!-- Função -->

                    <td>

                        {% if user.role %}

                            {{ user.role.name }}

                        {% else %}

                            Sem função

                        {% endif %}

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>


<br>

<!-- Relação de função -->

<div class="row">

    <div class="col-md-12">

        <h2>
            Relação de funções cadastradas
        </h2>

        <!-- Contador de funções -->
        <p>
            Quantidade: {{ role_count }}
        </p>


        <table class="table">

            <thead>

                <tr>

                    <th>
                        Funções
                    </th>

                    <th>
                        Usuários
                    </th>

                </tr>

            </thead>


            <tbody>


                <!-- intera com as funções -->

                {% for role in roles %}

                <tr>

                    <!-- Nome da função -->

                    <td>

                        {{ role.name }}

                    </td>

                    <!-- Usuários daquela função -->

                    <td>

                        {% if role.users.count() > 0 %}

                            <ol>

                                {% for user in role.users.all() %}

                                <li>

                                    {{ user.username }}

                                </li>

                                {% endfor %}

                            </ol>

                        {% else %}

                            Nenhum usuário

                        {% endif %}

                    </td>


                </tr>

                {% endfor %}


            </tbody>

        </table>

    </div>

</div>


{% endblock %}